body {
	background-image: url("water.jpg");
	font-family: 'Pangolin', cursive, Arial, Helvetica;
}


h1 {
	font-size: 42px;
	text-align: center;
	padding: 20px;
}

h2 {
	font-size: 32px;
	text-align: center;
	padding: 20px;
}


#alphabet {
  margin:15px auto;
  padding:30px;
  max-width:630px;
}

#alphabet li {
	text-align: center;
	font-size: 24px;
  float:left;
  margin: 0 10px 10px 0;
  list-style: none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: #006d93;
  color: black;
  cursor:pointer;
  border: solid 1px black;
  } 

#alphabet li:hover{
      background: #90C3D4;
      border: solid 1px #1871BA;
      color: white;
    }

.active {  
      opacity: 0.4;
    }
        

#my-word {
	text-align: center;
	clear: left;
  margin: 0;
  display: block;
  padding: 0;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  /*padding: 0 10px;*/
  font-size: 40px;
}

#mylives{
	padding: 40px;
  font-size:28px;
  text-align:center;
  display:block;
}

button{
	display: block;
	font-family: 'Pangolin', cursive;
  background: #6A9164;
  color: black;
  border: solid 1px black;
  text-decoration:none;
  cursor:pointer;
  font-size:24px;
  padding:20px;
  width:15%;
  margin: 0 auto;
  outline: none;
  }
button:hover{
      background: #158CED;
      border: solid 1px white;
      color:black;
    }  


/* @media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
} */
  }